<ion-pane>
  <ion-content ng-controller="TeamsController">
    <div class="container">
      <div class="row row-center mvm">
        <div class="col">
          <button class="left button btn-control" on-tap="subtractPeople()">
            <img src="../img/minus.png">
          </button>
        </div>
        <div class="col col-50 col-center">
          <div class="h2">
            {{ numberOfPeople() }}
          </div>
          <div class="h4">
            people
          </div>
        </div>
        <div class="col">
          <button class="right button btn-control" on-tap="addPeople()">
            <img src="../img/plus.png">
          </button>
        </div>
      </div>
      <div class="row row-center mvm">
        <div class="col">
          <button class="left button btn-control" on-tap="subtractTeams()">
            <img src="../img/minus.png">
          </button>
        </div>
        <div class="col col-50 col-center">
          <div class="h2">
            {{ numberOfTeams() }}
          </div>
          <div class="h4">
            teams
          </div>
        </div>
        <div class="col">
          <button class="right button btn-control" on-tap="addTeams()">
            <img src="../img/plus.png">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- on-tap="startPicking()" -->
          <button class="btn btn-full" nav-direction="forward" ui-sref="secondary">
            Start Picking
          </button>
        </div>
        </div>
    </div>
  </ion-content>
</ion-pane>
