<ion-pane>
  <ion-content ng-controller="SecondaryCtrl">
    <div class="container">
      <h1 class="h3 mtn mbm">
        Pick a card. <br>Then pass the deck.
      </h1>
      <div class="row align-center mvs">
        <ul class="li-none">
          <li class="span3 align-center" ng-repeat="card in cards()">
            <div class="rcard animated flipInX {{ card.revealed ? card.color : '' }}" on-tap="revealCard(card)">
              {{ card.revealed }}
            </div>
          </li>
        </ul>
      </div>
      <div class="mtm">
        There are {{ numberOfPeople() }} people and {{ numberOfTeams() }} teams.
      </div>
    </div>
  </ion-content>
</ion-pane>
