
// buttons
.btn {
  border: 5px solid $lightgreen;
  border-radius: 0;
  background-color: $green;
  color: #fff;
  display: block;
  font-size: $h3;
  padding: 0.5em 1.2em;
  text-shadow: 1px 1px 3px #333;

  &:hover {
    border-color: darken($lightgreen, 5%);
    background-color: darken($green, 10%);
    color: #fff;
  }
}

.btn-control {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  border: 3px solid $lightpurple;
  border-radius: 0;
  background-color: $purple;
  color: #fff;
  font-size: 4em;
  height: 70px;
  line-height: 60px;
  padding: 0 0 0 6px;
  text-shadow: 1px 1px 3px #333;
  width: 70px;

  &:hover,
  &:focus,
  &:active {
    border-color: darken($lightpurple, 5%);
    background-color: darken($purple, 10%);
    color: #fff;
  }

  img {
  }
}
.btn-control-minus {
  background-image: url('../img/minus.png');
}
.btn-control-plus {
  background-image: url('../img/plus.png');
}
.btn-full {
  width: 100%;
}