// HEADER
.bar-super-dark {
  background: #0B121A;
  border-bottom: 1px solid #090E15;
  .title {
    color: #f1f1f1;
  }
}


// header
.bar .header-logo {
  background: transparent url('../img/logo.png') no-repeat center bottom;
  background-size: 310px;
  font-size: $h2;
  letter-spacing: 2px;
  text-shadow: $green 2px 2px 3px;
}